@charset "utf-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* common */
body {
	color: rgba(0, 0, 0, 0.7);
	background-color: white;
}

h2 {
	font-family: Merriweather, serif;
	text-align: center;
	padding: 10px;
	font-size: 35px;
	font-weight: lighter;
}

h3 {
	text-align: center;
	padding-top: 20px;
	font-size: 30px;
	font-family: Merriweather, sans-serif;
	}

img {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	}

p {
	font-family: PT Sans Narrow, sans-serif;
	color: rgba(0, 0, 0, 0.7);
	font-size: 20px;
	font-weight: 600;
}

section {
	margin-bottom: 30px;
}

.container {
	margin: 0 auto;
	width: 70%;
	padding-top: 10px;
}

a {	cursor: pointer; }

a:link { color: rgba(0, 0, 0, 0.7);}
a:visited {color: rgba(0, 0, 0, 0.7);}
a:hover {color: rgba(0, 0, 0, 0.5);}

/* header */
header {
	display: inline-block;
	width: 100%;
	height: 90px;
	position: relative;
}

.icon {
	font-family: Orbitron, sans-serif;
	color: rgba(0, 0, 0, 0.7); 
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	line-height: 30px;
	padding: 20px;
}

.icon a { text-decoration: none; }
.icon a:hover {color: rgba(0, 0, 0, 0.7);}

.header-mobile-menu {
	display: block;
	color: rgba(0, 0, 0, 0.7);
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	padding-top: 10px;
	z-index: 1;
}	

/* .header-mobile-menu:hover { opacity: 0.5; } */
.header-mobile-menu:hover {cursor: pointer;}

.header-pc-menu { display: none; }

header .socials {
	display: none;
	float: right;
	clear: right;
	width: 70%;
	text-align: center;
	height: 80px;
	line-height: 90px;
}

.social-icon {
	text-align: center;
	color: black;
	padding:7px;
	padding-top: 10px;
	margin: 5px;
	width: 40px;
	height: 40px;
	border: 2px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: white;
}

/* eye-catch */
.eye-catch {
	width: 100%;
	height: 370px;
}

	.left-container { display: none; }
	.right-container { display: none; }
	.img-container { display: none; }

	.hero {	
		width: 100%;
		height: 100%;
		display: block;
		background: url(img/live.png) no-repeat center;
		background-size: cover;
		opacity: 0.8;
		} 

		.background h1, .background h2 {
			font-family: Russo One, sans-serif;
			text-align: center;
		}

		.eye-catch .socials {
			display: block;
			margin: 0 auto;
			width: 100%;
			height: 100%;
			text-align: center;
			padding-top: 300px;
		}

			.eye-catch .social-icon {
				font-size: 20px;
			}

/* design-plus */
.design-plus {
	width: 100%;
	height: 50%;
	display: none;
	background: url(img/background.jpeg) repeat-y center;
}

/* latest */
.latest {
	width: 100%;
	height: 100%;
}

	.iframe-wrapper {
		padding-bottom: 56.25%;
		height: 0;
		position: relative;
	}

	.latest iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

/* pick-up */
.pick-up {
	width: 100%;
	height: 100%;
	margin-top: 8px;
}

	.pick-up .container {
		height: 100%;
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-flow: wrap;
		overflow: hidden;
	}

	.pick-up h3 {
		text-align: center;
		padding-top: 20px;
		font-size: 20px;
		font-family: Merriweather, sans-serif;
	}

	.pick-up img {
		margin: 0 auto;
		width: 100%;
		height: 70%;
	}

	.item {
		padding: 15px;
		flex: 250px;
		/*height: 15%;*/
	}

	.item p {
		padding-bottom: 10px;
		text-align: center;
	}

	.button-container {
		width: 100%;
		height: 50px;
	}

	.button-container p {
		display: inline-block;
		font-size: 20px;
		width: 130px; 
		border: solid 1px rgba(0, 0, 0, 0.7);
		text-align: center;
		margin-top: 10px;
		float: right;
	}

	.button-container p:hover {
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		cursor: pointer;
	}

/* news */
.news {
	width: 100%;
	height: 100%;
}

	.news .container {
		height: 100%;
		width: 90%;
	}

	.news .item {
		margin-bottom: 0;
	}

		ul.item {
			border-style: none;
			display: inline-block;
			list-style: none;
			width: 100%;
		}

			ul.item li {
				border-top: 1px solid rgba(0, 0, 0, 0.7);
				overflow: hidden;
				padding: 5px;
			}

			ul.item li:last-child {
				border-bottom: 1px solid rgba(0, 0, 0, 0.7);
			}

			ul.item p {
				font-size: 15px;
				text-align: left;
				padding-top: 10px;
			}

			.item-image-container {
				float: left;
				width: 20%;
				height: 100%;
			}

			.item-image-container i {
				width: 100%;
				height: 100%;
				line-height: 100%;
				font-size: 50px;
				padding-top: 40%;
				color: rgba(255, 103, 101, 0.8);
			}

			.text-container {
				float: right;
				width: 80%;
				height: 100%;
			}

	.live-info .container {
		width: 90%;
		height: 100%;
	}

/* footer */
footer {
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 50px;
}

	footer p {
		display: inline-block;
		text-align: center;
		width: 100%;
		padding-top: 10px;
		color: rgba(255, 255, 255, 0.9);
		font-weight: 100;
	}

	footer .socials {
		visibility: visible;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 10px;
	}


/* medium */
@media (min-width: 570px) {
	
	.news {
		width: 100%;
	}

		.news .container {
			width: 90%
		}

			.item-image-container {
				float: left;
				width: 20%;
				height: 100%;
			}

			.item-image-container i {
				padding-top: 20%;
			}

		ul.item {
			width: 100%;
		}

			ul.item p {
				font-size: 20px;
				font-weight: 100;
				line-height: 100%;
				padding-top: 15px;
			}

}

/* large */
@media (min-width: 820px) {

	.container {
		width: 700px;
	}

	/* header */
	header {
		display: inline-block;
		width: 100%;
		height: 120px;
		background-color: rgba(0, 0, 0, 0.7);
		position: fixed;
		z-index: 1;
	}

		nav { padding: 15px; }

		.icon {
			line-height: 90px;
			color: white;
			float: left;
			clear: left;
			padding: 0;
		}

		a:link { color: white;}
		a:visited {color: white;}
		a:hover {color: rgba(255, 255, 255, 0.8);}

		.icon a { text-decoration: none; }
		.icon a:visited {color: white; }
		.icon a:hover { color: white; }

		.header-mobile-menu { visibility: hidden; }

		.header-pc-menu {
			float: right;
			display: block;
			padding: 0;
			margin: 0;
		}

		.header-pc-menu li {
			font-family: PT Sans Narrow, sans-serif;
			display: inline;
			font-size: 20px;
			color: black;
			padding: 10px;
		}

		.header-pc-menu a {
			text-decoration: none;
			text-transform: uppercase;
		}

		.langs {
			float: right;
			display: inline-block;
			width: 700px;
			line-height: 0;
			position: relative;
			top: 25px;
			margin-right: 20px;
		}

			.langs a {
				color: #fff;
				padding: 5px;
				text-decoration: underline;
			}

			.langs a:hover { opacity: 0.8;}

		header .socials {
		display: inline-block;
		height: 40px;
		margin: 10px;
		margin-right: 7px;
		float: right;
		width: 300px;
		line-height: 0;
		}
		
	/* eye-catch */
	.eye-catch {
		width: 100%;
		height: 570px;
	}

	.hero {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
	} 

	.background {
		background-image: url(img/live.png) 
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		height: 100%;
	}

	.eye-catch .socials { display: none; }

	/* design-plus */
	.design-plus {
		display: none;
		width: 100%;
		height: 120px;
		background: url(img/background.jpeg) repeat-x center;
		opacity: 0.4;
	} 

	/* music */
	.music {
		margin-bottom: 100px;
	}

	/* column */
	.flexbox {
		display: inline-block;
		width: 100%;
	}

	/* pick up */
	.pick-up {
		width: 60%;
		height: 100%;
		float: left;
		position: relative;
		display: inline-block;
	}

		.pick-up .container {
			width: 90%;
		}

		/*.pick-up img {
			width: 50%;
		}

		.pick-up h3 {
			width: 45%;
		}

		.pull-right {
			float: right;
			margin-left: 5%;
		}

		.pill-left {
			float: left;
			margin-right: 5%;
		}

		.pick-up .item {
			overflow: hidden;
		}
		*/

	/* news */
	.news {
		width: 40%;
		height: 100%;
		float: right;
		clear: right;
		display: inline-block;
	}

		.news .container {
			width: 90%;
		}

		ul.item {
			width: 100%;
		}

			.item-image-container {
				width: 20%;
				height: 100%;
			}

			.item-image-container i {
				padding-top: 20px;
			}

	.live-info {
		float: right;
		clear: right;
		width: 40%;
		height: 100%;
		display: inline-block;
		margin-top: 20px;
	}

}

	/* footer */
	footer .socials {
		
	}


}