@charset "utf-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* common */
body {
	color: rgba(0, 0, 0, 0.7);
	background-color: white;
}

h1 {
	font-family: Merriweather, serif;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-family: Merriweather, serif;
	text-align: center;
	padding: 10px;
	font-size: 35px;
	font-weight: lighter;
}

h3 {
	text-align: center;
	padding-top: 20px;
	font-size: 30px;
	font-family: Merriweather, sans-serif;
	}

img {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	}

p {
	font-family: PT Sans Narrow, sans-serif;
	color: rgba(0, 0, 0, 0.7);
	font-size: 20px;
	font-weight: 600;
}

section {
	margin-bottom: 30px;
}

.container {
	margin: 0 auto;
	width: 70%;
	padding-top: 10px;
}

a {	cursor: pointer; }

a:link { color: rgba(0, 0, 0, 0.7);}
a:visited {color: rgba(0, 0, 0, 0.7);}
a:hover {color: rgba(0, 0, 0, 0.5);}

/* header */
header {
	display: inline-block;
	width: 100%;
	height: 90px;
	position: relative;
}

.icon {
	font-family: Orbitron, sans-serif;
	color: rgba(0, 0, 0, 0.7); 
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	line-height: 30px;
	padding: 20px;
}

.icon a { text-decoration: none; }
.icon a:hover {color: rgba(0, 0, 0, 0.7);}

.header-mobile-menu {
	display: block;
	color: rgba(0, 0, 0, 0.7);
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	padding-top: 10px;
	z-index: 1;
}	

/* .header-mobile-menu:hover { opacity: 0.5; } */
.header-mobile-menu:hover {cursor: pointer;}

.header-pc-menu { display: none; }

header .socials {
	display: none;
	float: right;
	clear: right;
	width: 70%;
	text-align: center;
	height: 80px;
	line-height: 90px;
}

.social-icon {
	text-align: center;
	color: black;
	padding:7px;
	padding-top: 10px;
	margin: 5px;
	width: 40px;
	height: 40px;
	border: 2px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: white;
}

/* video */
.video {
	width: 100%;
	height: 100%;
}
	
	.video h1 {
		padding: 20px;
		font-size: 40px;
		width: 100%;
		height: 80px;
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
	}

	.video .container {
		margin-top: 20px;
	}

		.iframe-wrapper {
			padding-bottom: 56.25%;
			height: 0;
			position: relative;
		}

		.video iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

	/*.video .container:last-child {
		display: flex;
		flex-fow: wrap;
		overflow: hidden;
	}

		.iframe-wrapper {
			padding-bottom: 56.25%;
			height: 0;
			position: relative;
			display: inline-block;
		}*/



/* footer */
footer {
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 50px;
}

	footer p {
		display: inline-block;
		text-align: center;
		width: 100%;
		padding-top: 10px;
		color: rgba(255, 255, 255, 0.9);
		font-weight: 100;
	}

	footer .socials {
		margin: 0 auto;
		text-align: center;
	}

/* medium */
@media (min-width: 570px) {
	

}

/* large */
@media (min-width: 820px) {

	.container {
		width: 700px;
	}

	/* header */
	header {
		display: inline-block;
		width: 100%;
		height: 120px;
		background-color: rgba(0, 0, 0, 0.7);
		position: fixed;
		top: 0;
		z-index: 1;
	}

		nav { padding: 15px; }

		.icon {
			line-height: 90px;
			color: white;
			float: left;
			clear: left;
			padding: 0;
		}

		a:link { color: white;}
		a:visited {color: white;}
		a:hover {color: rgba(255, 255, 255, 0.8);}

		.icon a { text-decoration: none; }
		.icon a:visited {color: white; }
		.icon a:hover { color: white; }

		.header-mobile-menu { visibility: hidden; }

		.header-pc-menu {
			float: right;
			display: block;
			padding: 0;
			margin: 0;
		}

		.header-pc-menu li {
			font-family: PT Sans Narrow, sans-serif;
			display: inline;
			font-size: 20px;
			color: black;
			padding: 10px;
		}

		.header-pc-menu a {
			text-decoration: none;
			text-transform: uppercase;
		}

		.langs {
			float: right;
			display: inline-block;
			width: 700px;
			line-height: 0;
			position: relative;
			top: 25px;
			margin-right: 20px;
		}

			.langs a {
				color: #fff;
				padding: 5px;
				text-decoration: underline;
			}

			.langs a:hover { opacity: 0.8;}

		header .socials {
		display: inline-block;
		height: 40px;
		margin: 10px;
		margin-right: 7px;
		float: right;
		width: 300px;
		line-height: 0;
		}

	.video {
		position: relative;
		top: 120px;
	}

		.video h1 {
			background-color: #fff;
			color: rgba(0, 0, 0, 0.7);
		}



	footer {
		position: relative;
		top: 120px;
	}
}